{% extends 'base.html' %}

{% block title %}
編集ページ
{% endblock %}

{% block content %}
    <div class="container">
        <h2>編集ページ</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">変更する</button>
        </form>
        <br>
        <form method="POST" action="{% url 'delete' todo.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">削除する</button>
        </form>
    </div>
{% endblock %}