{% extends 'base.html' %}

{% block title %}
signup
{% endblock %}

{% block content %}
    <div class="container">
        <h2>サインアップ</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_error }}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">登録する</button>
        </form>
    </div>
{% endblock %}